.container{
    padding:10%;
}

.inputBox{
    margin: auto;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
}

#dotoInput{
    float: left;
    margin-right: 5%;
    max-width: 65%;
}

/* Same as the below SELECTOR
 .list-group-item button.delete,
.list-group-item button.complete  */

.list-group-item > button.delete,
.list-group-item > button.complete {
  float: right;
  height: 30px;
  margin-left: 5px;
}